@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;500;600;700&family=Poppins:wght@700&family=Russo+One&display=swap');

body {
	font-family: 'Lexend', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    top: 15%;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

h1 {
    font: 700 4rem 'Lexend', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    letter-spacing: .1em;
    width: 100%;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size:1.2rem;
    font-weight: 400;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

.text-wrap{
    margin: 3rem;
}

#random {
    font-family: 'Lexend', sans-serif;
    border-radius: 2px;
    border: none;
    margin: 1.5rem;
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
    opacity: 0.5;
}

#random:hover {
    opacity: 1;
}

.color1, .color2 {
    border: none;
    background: transparent;
    cursor: pointer;
    
}





@media only screen and (max-width: 600px){
    h1{font-size: 2.2rem;}
    h2{font-size: 1.3rem;}
    h3{font-size: 1rem;}
}